name: Build ESP8266 firmware

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install PlatformIO
        run: pip install platformio

      - name: Build firmware
        run: platformio run

      - name: Find firmware .bin file
        id: find_firmware
        run: |
          BIN_FILE=$(find .pio/build -name "*.bin" | head -n 1)
          echo "Firmware file: $BIN_FILE"
          echo "BIN_PATH=$BIN_FILE" >> $GITHUB_ENV

      - name: Upload firmware
        uses: actions/upload-artifact@v4
        with:
          name: firmware
          path: ${{ env.BIN_PATH }}
