name: Build ESP8266 firmware

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install PlatformIO
      run: pip install platformio

    - name: Build firmware
      run: platformio run

    - name: Upload firmware
      uses: actions/upload-artifact@v3
      with:
        name: firmware
        path: .pio/build/nodemcuv2/firmware.bin
